@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.radio {
  @apply appearance-none  bg-white  rounded-full p-[9px];
}

.progress {
  width: 100%;
  height: 9px;
  border: none;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}
.progress::-webkit-progress-value {
  background-color: #a729f5;
  /border-radius: 5px;
}

.progressLight::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 5px;
}

.progressDark::-webkit-progress-bar {
  background-color: #3b4d66;
  border-radius: 5px;
}
